TextMinerService/TextMinerService/Provider Schema/Medline.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns="http://tempuri.org/PubMed" elementFormDefault="qualified" targetNamespace="http://tempuri.org/PubMed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MedlineCitationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MedlineCitation" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DeleteCitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedlineCitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PMID" />
        <xs:element ref="DateCreated" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DateCompleted" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DateRevised" />
        <xs:element ref="Article" />
        <xs:element ref="MedlineJournalInfo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ChemicalList" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CitationSubset" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CommentsCorrectionsList" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GeneSymbolList" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MeshHeadingList" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NumberOfReferences" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PersonalNameSubjectList" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OtherID" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OtherAbstract" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="KeywordList" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SpaceFlightMission" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvestigatorList" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="GeneralNote" />
      </xs:sequence>
      <xs:attribute default="NLM" name="Owner">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="NLM" />
            <xs:enumeration value="NASA" />
            <xs:enumeration value="PIP" />
            <xs:enumeration value="KIE" />
            <xs:enumeration value="HSR" />
            <xs:enumeration value="HMD" />
            <xs:enumeration value="NOTNLM" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Status" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Completed" />
            <xs:enumeration value="In-Process" />
            <xs:enumeration value="PubMed-not-MEDLINE" />
            <xs:enumeration value="In-Data-Review" />
            <xs:enumeration value="Publisher" />
            <xs:enumeration value="MEDLINE" />
            <xs:enumeration value="OLDMEDLINE" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Abstract">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AbstractText" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CopyrightInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbstractText" type="xs:string" />
  <xs:element name="AccessionNumber" type="xs:string" />
  <xs:element name="AccessionNumberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="AccessionNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Acronym" type="xs:string" />
  <xs:element name="Affiliation" type="xs:string" />
  <xs:element name="Agency" type="xs:string" />
  <xs:element name="Article">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Journal" />
        <xs:element ref="ArticleTitle" />
        <xs:choice>
          <xs:sequence>
            <xs:element ref="Pagination" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ELocationID" />
          </xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="ELocationID" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="Abstract" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Affiliation" />
        <xs:element minOccurs="0" maxOccurs="1" ref="AuthorList" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Language" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DataBankList" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GrantList" />
        <xs:element ref="PublicationTypeList" />
        <xs:element minOccurs="0" maxOccurs="1" ref="VernacularTitle" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ArticleDate" />
      </xs:sequence>
      <xs:attribute name="PubModel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Print" />
            <xs:enumeration value="Print-Electronic" />
            <xs:enumeration value="Electronic" />
            <xs:enumeration value="Electronic-Print" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArticleDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Year" />
        <xs:element ref="Month" />
        <xs:element ref="Day" />
      </xs:sequence>
      <xs:attribute fixed="Electronic" name="DateType" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArticleTitle" type="xs:string" />
  <xs:element name="Author">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="LastName" />
          <xs:element minOccurs="0" maxOccurs="1" ref="ForeName" />
          <xs:element minOccurs="0" maxOccurs="1" ref="Initials" />
          <xs:element minOccurs="0" maxOccurs="1" ref="Suffix" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="NameID" />
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="CollectiveName" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="NameID" />
        </xs:sequence>
      </xs:choice>
      <xs:attribute default="Y" name="ValidYN">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Author" />
      </xs:sequence>
      <xs:attribute default="Y" name="CompleteYN">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Chemical">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RegistryNumber" />
        <xs:element ref="NameOfSubstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChemicalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Chemical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CitationSubset" type="xs:string" />
  <xs:element name="CollectiveName" type="xs:string" />
  <xs:element name="CommentsCorrections">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RefSource" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PMID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Note" />
      </xs:sequence>
      <xs:attribute name="RefType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="CommentOn" />
            <xs:enumeration value="CommentIn" />
            <xs:enumeration value="ErratumIn" />
            <xs:enumeration value="ErratumFor" />
            <xs:enumeration value="PartialRetractionIn" />
            <xs:enumeration value="PartialRetractionOf" />
            <xs:enumeration value="RepublishedFrom" />
            <xs:enumeration value="RepublishedIn" />
            <xs:enumeration value="RetractionOf" />
            <xs:enumeration value="RetractionIn" />
            <xs:enumeration value="UpdateIn" />
            <xs:enumeration value="UpdateOf" />
            <xs:enumeration value="SummaryForPatientsIn" />
            <xs:enumeration value="OriginalReportIn" />
            <xs:enumeration value="ReprintOf" />
            <xs:enumeration value="ReprintIn" />
            <xs:enumeration value="Cites" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentsCorrectionsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="CommentsCorrections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyrightInformation" type="xs:string" />
  <xs:element name="Country" type="xs:string" />
  <xs:element name="DataBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DataBankName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="AccessionNumberList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataBankList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="DataBank" />
      </xs:sequence>
      <xs:attribute default="Y" name="CompleteYN">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataBankName" type="xs:string" />
  <xs:element name="DateCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Year" />
        <xs:element ref="Month" />
        <xs:element ref="Day" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Year" />
        <xs:element ref="Month" />
        <xs:element ref="Day" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateRevised">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Year" />
        <xs:element ref="Month" />
        <xs:element ref="Day" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Day" type="xs:string" />
  <xs:element name="DescriptorName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="N" name="MajorTopicYN">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Y" />
                <xs:enumeration value="N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELocationID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="EIdType" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="doi" />
                <xs:enumeration value="pii" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute default="Y" name="ValidYN">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Y" />
                <xs:enumeration value="N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndPage" type="xs:string" />
  <xs:element name="ForeName" type="xs:string" />
  <xs:element name="GeneSymbol" type="xs:string" />
  <xs:element name="GeneSymbolList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="GeneSymbol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneralNote">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="NLM" name="Owner">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="NLM" />
                <xs:enumeration value="NASA" />
                <xs:enumeration value="PIP" />
                <xs:enumeration value="KIE" />
                <xs:enumeration value="HSR" />
                <xs:enumeration value="HMD" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="GrantID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Acronym" />
        <xs:element ref="Agency" />
        <xs:element ref="Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrantID" type="xs:string" />
  <xs:element name="GrantList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Grant" />
      </xs:sequence>
      <xs:attribute default="Y" name="CompleteYN">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ISOAbbreviation" type="xs:string" />
  <xs:element name="ISSN">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="IssnType" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Electronic" />
                <xs:enumeration value="Print" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ISSNLinking" type="xs:string" />
  <xs:element name="Initials" type="xs:string" />
  <xs:element name="Investigator">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LastName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ForeName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Initials" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Suffix" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="NameID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Affiliation" />
      </xs:sequence>
      <xs:attribute default="Y" name="ValidYN">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvestigatorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Investigator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Issue" type="xs:string" />
  <xs:element name="Journal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="ISSN" />
        <xs:element ref="JournalIssue" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Title" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ISOAbbreviation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Volume" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Issue" />
        <xs:element ref="PubDate" />
      </xs:sequence>
      <xs:attribute name="CitedMedium" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Internet" />
            <xs:enumeration value="Print" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Keyword">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="N" name="MajorTopicYN">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Y" />
                <xs:enumeration value="N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeywordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Keyword" />
      </xs:sequence>
      <xs:attribute default="NLM" name="Owner">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="NLM" />
            <xs:enumeration value="NASA" />
            <xs:enumeration value="PIP" />
            <xs:enumeration value="KIE" />
            <xs:enumeration value="NOTNLM" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Language" type="xs:string" />
  <xs:element name="LastName" type="xs:string" />
  <xs:element name="MedlineDate" type="xs:string" />
  <xs:element name="MedlineJournalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Country" />
        <xs:element ref="MedlineTA" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NlmUniqueID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ISSNLinking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedlinePgn" type="xs:string" />
  <xs:element name="MedlineTA" type="xs:string" />
  <xs:element name="MeshHeading">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DescriptorName" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="QualifierName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeshHeadingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="MeshHeading" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Month" type="xs:string" />
  <xs:element name="NameID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="Source" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="NCBI" />
                <xs:enumeration value="Publisher" />
                <xs:enumeration value="NISO" />
                <xs:enumeration value="ISO" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameOfSubstance" type="xs:string" />
  <xs:element name="NlmUniqueID" type="xs:string" />
  <xs:element name="Note" type="xs:string" />
  <xs:element name="NumberOfReferences" type="xs:string" />
  <xs:element name="OtherAbstract">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AbstractText" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CopyrightInformation" />
      </xs:sequence>
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="AAMC" />
            <xs:enumeration value="AIDS" />
            <xs:enumeration value="KIE" />
            <xs:enumeration value="PIP" />
            <xs:enumeration value="NASA" />
            <xs:enumeration value="Publisher" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtherID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="Source" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="NASA" />
                <xs:enumeration value="KIE" />
                <xs:enumeration value="PIP" />
                <xs:enumeration value="POP" />
                <xs:enumeration value="ARPL" />
                <xs:enumeration value="CPC" />
                <xs:enumeration value="IND" />
                <xs:enumeration value="CPFH" />
                <xs:enumeration value="CLML" />
                <xs:enumeration value="NRCBL" />
                <xs:enumeration value="NLM" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PMID" type="xs:string" />
  <xs:element name="Pagination">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="StartPage" />
          <xs:element minOccurs="0" maxOccurs="1" ref="EndPage" />
          <xs:element minOccurs="0" maxOccurs="1" ref="MedlinePgn" />
        </xs:sequence>
        <xs:element ref="MedlinePgn" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNameSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LastName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ForeName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Initials" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Suffix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalNameSubjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="PersonalNameSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PubDate">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="Year" />
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element ref="Month" />
              <xs:element minOccurs="0" maxOccurs="1" ref="Day" />
            </xs:sequence>
            <xs:element ref="Season" />
          </xs:choice>
        </xs:sequence>
        <xs:element ref="MedlineDate" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicationType" type="xs:string" />
  <xs:element name="PublicationTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="PublicationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QualifierName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="N" name="MajorTopicYN">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Y" />
                <xs:enumeration value="N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefSource" type="xs:string" />
  <xs:element name="RegistryNumber" type="xs:string" />
  <xs:element name="Season" type="xs:string" />
  <xs:element name="SpaceFlightMission" type="xs:string" />
  <xs:element name="StartPage" type="xs:string" />
  <xs:element name="Suffix" type="xs:string" />
  <xs:element name="Title" type="xs:string" />
  <xs:element name="VernacularTitle" type="xs:string" />
  <xs:element name="Volume" type="xs:string" />
  <xs:element name="Year" type="xs:string" />
  <xs:element name="DeleteCitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="PMID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>